<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
	<session-factory>
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property> 
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:ORCL</property> 
		<property name="connection.username">system</property> 
		<property name="connection.password">orcl</property> 
		<property name="dialect" >org.hibernate.dialect.OracleDialect</property> 
		<property name="show_sql">false</property> 
		<property name="hibernate.hbm2ddl.auto">Update</property> 
		<mapping class="com.T14GString.DAO.Registration" />
		<mapping class="com.T14GString.DAO.AdminForm" />
		<mapping class="com.T14GString.DAO.CompilationForm" />
	</session-factory> 
</hibernate-configuration>
